/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24 mar. 2022, 12:54:20
    Author     : aaxlc
*/

body {
  background-color: black;
}
h1 {
  color: whitesmoke;
}
h3 {
    color: whitesmoke; 
}
p {
  color: whitesmoke;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.c {
  text-align: justify;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

ol.color
{
  color: white;   
}

li
{
    background: #ff9999;
  padding: 20px;
}